.flex {
display:flex;
justify-content: space-around;
flex-wrap: wrap;
}
.flex section {
    flex: 1 1 250px;
    background-color: rgb(187, 187, 127);
    margin: 15px 20px;
    padding: 15px;
}
main {
    padding: 10px;
}
nav ul {
    padding: 0;
    list-style: none;
}
h2 {
    color: rgba(48, 69, 129, 0.836);
    text-decoration: underline;
    text-align: center;
    font-family: 'shadows Into Light', cursive;
}
.imgFluid {
    width: 100%;
}
