:root {
    --navFooterCol: darkgreen;
    --mainCol: #FFAE2D;
    --secondCol: #E8D1B3;
}
nav {
    background-color: var(--navFooterCol);
    padding: 15px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
}
nav li a {
    padding: 10px;
    color: white;
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video {
    justify-content: center;
    padding: 50px;
    display: flex;
}
main {
    background-color:var(--mainCol);
    margin-bottom: 50px;
}
h1 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem;
    margin: 0;
    background-color: var(--secondCol);
}
h2, h3 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    margin: 0;
}
nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    text-align: center;
}
body {
    color: black;
    font-size: 120%;
    font-family: sans-serif;
    line-height: 1.4;
    margin: 0;
}
.unsereArten {
    border: 1px solid black;
    display: flex;
    justify-content: left;
    margin: 5px;
    padding: 5px;
    background-color: var(--secondCol);
}
figure {
    position: relative;
}
img {
    max-width: 100%;
}
figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--mainCol);
    box-sizing: border-box;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.hintergrund {
    height: 150px;
    background-image: url("wood.jpg");
    background-size: cover;
    border-style: solid;
    border-width: 0 0 0 0;
    padding: 0 0 0 0;
    color: white;
}
.tabelle {
    box-sizing: border-box;
    font-size: 1rem;
    border-collapse: collapse;

    width: 100%;
}

table.tabelle th {
    background-color: var(--mainCol);
    text-align: left;
}

.tabelle th,td {
    padding: 12px 16px;
}

table.tabelle tbody tr {
    border-bottom: 1px solid black;
    background-color: var(--secondCol);
}
